html, body, #root, .App {
  height: 100%;
}

body {
  background-color: #f8f8ff;
  margin: 0;
  padding: 0;
}

.title {
  color: #e3f0eb;
  font-size: 9vw;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  text-shadow: 0.0625em 0.0625em 0.125em rgba(0,0,0,0.25);
}

.login {
  background: url("back.png");
  background-size: cover;
  background-position: right center;
  height: 100%;
  width: 100%;
  text-align: center;
}

.login_content {
  color: #e3f0eb;
  position: absolute;
  right: 7vw;
  top: 2vw;
}

.login_description {
  font-size: 2vw;
  margin-block-start: 0;
  margin-block-end: 1vw;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: .3vh;
}

.login_hint {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 3vh;
  font-size: 1.2vw;
}

.api_input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.config_box {
  margin: auto;
  padding: 5vh;
  width: 50%;
  border-radius: 1em;
  background: #fff;
  text-align: center;
  text-shadow: 0.0625em 0.0625em 0.125em rgba(0,0,0,0.25);
}
